h1{
    color: blue;
}

footer{
    background: linear-gradient(90deg, #05162F 0%, #091D38 22.52%, #091D38 81.85%, #05142B 100%);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    width: 100vw;
    position: relative;
    left: -8px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sub-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer td{
    padding: 7px;
}
footer th{
    padding-bottom: 30px;
}